
<h1>Thank you for this Donation</h1>

<p> you donated <%= @donation.amount %> to <%= @campaign_name %></p>

<div class="btn-group">
  <%= link_to 'Back to Campaigns', campaigns_path, class:"btn btn-default" %>
</div>
