<h1>Editing Campaign</h1>

<%= render 'form', campaign: @campaign %>

<div class="btn-group">
  <%= link_to 'Show', @campaign, class:"btn btn-default" %>
  <%= link_to 'Back', campaigns_path, class:"btn btn-default" %>
</div>
